##### *Libraries*

In [57]:
import numpy as np
import pandas as pd

##### *The data*

In [58]:
raw_data = pd.read_csv('/Users/appleplay/Desktop/Car Mileage Model/data/raw/auto-mpg.csv')
raw_data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [59]:
raw_data.shape

(398, 9)

In [60]:
raw_data['origin']= raw_data['origin'].map({1:'America',2:'Europe',3:'Japan'}) # You can also use .replace({}) here

In [61]:
raw_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,America,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,America,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,America,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,America,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,America,ford torino

In [62]:
# Car name is not meaningful in this model
data = raw_data.drop('car name', axis=1)

In [63]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,America
1,15.0,8,350.0,165,3693,11.5,70,America
2,18.0,8,318.0,150,3436,11.0,70,America
3,16.0,8,304.0,150,3433,12.0,70,America
4,17.0,8,302.0,140,3449,10.5,70,America

##### *Rearranging the columns*

In [64]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin'],
      dtype='object')

In [65]:
arranged_columns = ['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'mpg']
data = data[arranged_columns]

In [66]:
data.head(5)

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,mpg
0,8,307.0,130,3504,12.0,70,America,18.0
1,8,350.0,165,3693,11.5,70,America,15.0
2,8,318.0,150,3436,11.0,70,America,18.0
3,8,304.0,150,3433,12.0,70,America,16.0
4,8,302.0,140,3449,10.5,70,America,17.0

##### *Dealing with missing values*

In [67]:
data.isna().sum()

cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
mpg             0
dtype: int64

In [68]:
data.dtypes

cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin           object
mpg             float64
dtype: object

###### *Let's know why horsepower column is object*

In [69]:
HPIsDigit = pd.DataFrame(data['horsepower'].str.isdigit())

In [70]:
data[HPIsDigit['horsepower'] == False]

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,mpg
32,4,98.0,?,2046,19.0,71,America,25.0
126,6,200.0,?,2875,17.0,74,America,21.0
330,4,85.0,?,1835,17.3,80,Europe,40.9
336,4,140.0,?,2905,14.3,80,America,23.6
354,4,100.0,?,2320,15.8,81,Europe,34.5
374,4,151.0,?,3035,20.5,82,America,23.0

In [71]:
new_data = data.replace('?',np.nan)

In [72]:
HPIsDigit = pd.DataFrame(new_data['horsepower'].str.isdigit())
new_data[HPIsDigit['horsepower'] == False]

Empty DataFrame
Columns: [cylinders, displacement, horsepower, weight, acceleration, model year, origin, mpg]
Index: []

In [73]:
new_data.isna().sum()

cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
mpg             0
dtype: int64

In [74]:
new_data['horsepower']= new_data['horsepower'].astype('float64')

In [75]:
new_data.dtypes

cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin           object
mpg             float64
dtype: object

In [76]:
new_data.median()

/var/folders/8j/5mg1hqbx0rxgbv5q60g_dhhc0000gn/T/ipykernel_2778/2070154694.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  new_data.median()

cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model year        76.0
mpg               23.0
dtype: float64

##### *Fill the missng value with median*

In [77]:
new_data['horsepower'] = new_data['horsepower'].fillna(new_data['horsepower'].median())

In [78]:
new_data.isnull().sum()

cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
mpg             0
dtype: int64

##### *Dummy variables*

In [79]:
data_with_dummy = pd.get_dummies(new_data, drop_first=True)
data_with_dummy

,cylinders,displacement,horsepower,weight,acceleration,model year,mpg,origin_Europe,origin_Japan
0,8,307.0,130.0,3504,12.0,70,18.0,0,0
1,8,350.0,165.0,3693,11.5,70,15.0,0,0
2,8,318.0,150.0,3436,11.0,70,18.0,0,0
3,8,304.0,150.0,3433,12.0,70,16.0,0,0
4,8,302.0,140.0,3449,10.5,70,17.0,0,0
...,...,...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,27.0,0,0
394,4,97.0,52.0,2130,24.6,82,44.0,1,0
395,4,135.0,84.0,2295,11.6,82,32.0,0,0
396,4,120.0,79.0,2625,18.6,82,28.0,0,0
397,4,119.0,82.0,2720,19.4,82,31.0,0,0

In [80]:
data_with_dummy.to_csv('preprocessed_data.csv', index=False)