In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
data = pd.read_csv('/Users/appleplay/Desktop/Car Mileage Model/data/processed/preprocessed_data.csv')
data.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,mpg,origin_Europe,origin_Japan
0,8,307.0,130.0,3504,12.0,70,18.0,0,0
1,8,350.0,165.0,3693,11.5,70,15.0,0,0
2,8,318.0,150.0,3436,11.0,70,18.0,0,0
3,8,304.0,150.0,3433,12.0,70,16.0,0,0
4,8,302.0,140.0,3449,10.5,70,17.0,0,0

In [11]:
arranged_columns = ['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
                    'model year', 'origin_Europe', 'origin_Japan', 'mpg']

data = data[arranged_columns]

In [12]:
data.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_Europe,origin_Japan,mpg
0,8,307.0,130.0,3504,12.0,70,0,0,18.0
1,8,350.0,165.0,3693,11.5,70,0,0,15.0
2,8,318.0,150.0,3436,11.0,70,0,0,18.0
3,8,304.0,150.0,3433,12.0,70,0,0,16.0
4,8,302.0,140.0,3449,10.5,70,0,0,17.0

##### *Split of Data*

In [13]:
x = data.drop('mpg',axis=1)
y = data['mpg']

In [14]:
x_train, x_test, y_train, y_test =  train_test_split(x,y,test_size=0.3,random_state=10)

##### *Fit Linear Model*

In [15]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

##### *Coefficients*

In [17]:
for idx, col_name in enumerate(x_train.columns):
   print("The coefficient for {}".format(col_name,model.coef_[idx]))

The coefficient for cylinders
The coefficient for displacement
The coefficient for horsepower
The coefficient for weight
The coefficient for acceleration
The coefficient for model year
The coefficient for origin_Europe
The coefficient for origin_Japan

In [18]:
model.intercept_

-17.43286436430381

In [20]:
model.score(x_train,y_train)

0.8222923013922978

In [22]:
predictions = model.predict(x_test)

In [27]:
pd.DataFrame({'predictions': predictions})

     predictions
0      33.567186
1      27.105467
2      30.771618
3      30.064441
4      24.959158
..           ...
115    20.944257
116    20.725686
117    16.201162
118    27.657554
119    26.761406

[120 rows x 1 columns]

In [28]:
model.score(x_test, y_test) * 100

82.47628875326797

In [29]:
from sklearn import metrics

In [32]:
MAE = metrics.mean_absolute_error(y_test,predictions)
MAE

2.5399650940881853

In [33]:
RMSE = np.sqrt(MAE)
RMSE

1.5937267940547983